<main>
  <img src="https://wallpaperaccess.com/full/391862.jpg">
  <aside>
    <div class="logo" onclick="window.location.href='/'">
      <img src="https://img.icons8.com/ios-filled/100/000000/gorilla.png" >
      <h1>Crear cuenta</h1>
    </div>
    <form action="">
      <div class="text-field" id="username">
        <input minlength="4" type="text" required autocomplete="off" autofocus value=""> 
        <label class="label">Nombre de usuario</label>
      </div>
      <div class="text-field" id="password">
        <input minlength="4" type="password" required autocomplete="off" autofocus value=""> 
        <label class="label">Contraseña</label>
      </div>
      <div class="text-field" id="password2">
        <input minlength="4" type="password" required autocomplete="off" autofocus> 
        <label class="label">Repetir contraseña</label>
      </div>
      <p style="color: red; display: none;"></p>
    <div class="btn">
      <a href="/login">Ya tengo cuenta</a>
      <button>Crear cuenta</button>
    </div>
    </form>
  </aside>
</main>
<script src="/js/register.js"></script>