<main>
  <aside>
    <nav>
      <li><a href="/"><i class="fa-solid fa-house"></i>Inicio</a></li>
      <li class="active"><a href="/dashboard"><i class="fa-solid fa-gauge"></i>Dashboard</a></li>
      <li><a href="/dashboard/usuarios"><i class="fa-solid fa-users"></i>Usuarios</a></li>
      <li><a href="/dashboard/categorias"><i class="fa-solid fa-bookmark"></i>categorias</a></li>
      <li><a href="/dashboard/foros"><i class="fa-solid fa-inbox"></i>Foros</a></li>
      <li><a href="/dashboard/dashboard"><i class="fa-solid fa-message"></i>Posts</a></li>
    </nav>
  </aside>
  <section class="main">
    <header>
      <h1>Dashboard</h1>
    </header>
  </section>
</main>
<script src="https://kit.fontawesome.com/43dede5314.js" crossorigin="anonymous"></script>