<link rel="stylesheet" href="/css/inputs.css">
<script>
  const id = '<%=session.id%>'
</script>
<main>
  <section class="ep">
    <!-- username -->
    <form id="fusername">
      <h1>Cambiar nombre de usuario: </h1>
      <div class="text-field" id="password">
        <input minlength="4" required autofocus> 
        <label class="label">Nombre de usuario</label>
      </div>
      <div class="text-field" id="password">
        <input minlength="4"  type="password" required autofocus> 
        <label class="label">Contrase単a</label>
      </div>
      <p id="f1">Error</p>
      <button class="gb" type="submit">Cambiar</button>
    </form>
     <!-- password -->
     <form id="fpassword">
      <h1>Cambiar Contrase単a </h1>
      <div class="text-field" id="password">
        <input minlength="4" type="password" required autofocus> 
        <label class="label">Contrase単a actual</label>
      </div>
      <div class="text-field" id="password">
        <input minlength="4" type="password" required autofocus> 
        <label class="label">Nueva contrase単a</label>
      </div>
      <p id="f2">Error</p>
      <button class="gb" type="submit">Cambiar</button>
    </form>
  </section>
</main>
<script src="/js/editarPerfil.js"></script>