<main>
  <div class="header">
    <h1><%=data.foro%></h1><br>
   <% if (session.id) { %>
    <a class="button" href="/nuevo_post/<%= data.id%>">Responder / Comentar</a>
   <% } %>
  </div>
  <section class="postBox">
    <div class="header">
      <div class="profile">
        
      </div>
    </div>
    <%- data.post.content%>  
  </section>
</main>
<script>
</script>