.footerPag{
  margin-top: 20px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px ;
}

.footerPag.onthetop{
  background-color: transparent !important;
  margin: 17px 0 !important;
}

.footerPag a {
  padding: 5px 20px;
  background-color: royalblue;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
}

.footerPag #pagination{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footerPag #pagination img{
  user-select: none;
  margin: 0 10px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  transform: translateY(2px);
}

.footerPag #pagination .next img{
  transform: scale(-1) translateY(-2px);
}

.footerPag #pagination img:hover{
  background-color: rgb(177, 177, 177);
}


.footerPag #pagination .dissabled img{
  filter: opacity(0.4);
}
.footerPag #pagination .dissabled img:hover{
  background-color: transparent !important;
  cursor: auto;

}

.footerPag #pagination p{
  font-size: 14px;
}