main{
  width: 1500px;
  max-width: 100%;
  padding: 10px;
  background-color: white;
  margin: 0 auto;
}

.header h1{
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 25px;
  padding: 5px 7px;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
  margin: 5px 0;
}

main .button{
  background-color: royalblue;
  color: white;
  font-weight: 500;
  padding: 5px 15px;
  outline: none;
  cursor: pointer;
  margin: 15px 0 50px 0;
  border-radius: 4px;
  text-decoration: none;
  border: none;
}


/* section */

section{
  height: fit-content;
  width: 100%;
}

section.postBox{
  margin-top: 25px;
  padding: 5px;
  border-top: 1px solid rgb(187, 187, 187);
  border-top-style: dotted;
}

section.postBox .content .titlePost_{
  font-size: 30px;
  margin-bottom: 20px;
}
section.postBox .content{
  padding: 10px;
}

section.postBox .content pre{
  margin-left: 0 !important;
}

section.postBox .header{
  display: flex;
  justify-content: space-between;
}

section.postBox .header .info{
  padding: 10px;
}
section.postBox .header .info p,
.commentsBox .header .minfo{
  font-size: 11px;
  text-transform: uppercase;
  color: rgb(104, 104, 104);
  font-weight: 500;
}

section.postBox .header .profile{
  display: grid;
  grid-template-areas: 
  "img a"
  "img div"
  ;
  align-items: center;
}

section.postBox .footer,
.commentsBox .footer{
  margin: 10px 0;
  display: flex;
  align-items: center;
}

section.postBox .footer p,
.commentsBox .footer p{
  transform: translateY(2px);
  font-size: 30px;
}

section.postBox .footer img,
.commentsBox .footer img{
  width: 50px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s ;
}

.imlikeon{
  filter: brightness(0%);
}


section.postBox .footer img:active{
  transform: scale(0.95);
}


.header .profile img{
  grid-area: img;
  padding: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.header .profile a,
.commentsBox .header .user a{
  text-decoration: none;
  color: black;
}

.header .profile a:hover,
.commentsBox .header .user a:hover{
  text-decoration: underline;
}

.header .profile > a{
  grid-area: a;
  align-self: flex-end;
  color: rgb(255, 45, 8);
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: 600;
}
.header .profile div{
  align-self: flex-start;
  grid-area: div;
  margin-top: 2px;
  font-size: 15px;
  font-weight: 600;
}

.header .profile div span,
.commentsBox .header .user span{
  font-size: 13px;
  color: #b3b3b3;
  margin-left: 5px;
  transform: translateY(-2px);
}



.header .profile div span img,
.commentsBox .header .user span img{
  width: 14px;
  height: 14px;
  padding: 0;
  border: none;
  filter: invert(89%) sepia(8%) saturate(7%) hue-rotate(358deg) brightness(82%) contrast(85%);
  transform: translateY(2px);


}


/* comments */

.commentsBox{
  width: 100%;
  padding: 10px;
}

.comment_{
  margin-bottom: 20px;
}

.commentsBox .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(234, 234, 234);
  padding: 2px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.commentsBox .header .user{
  display: flex;
  gap: 5px;
  align-items: center;
}

.commentsBox .header .user img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.commentsBox .header .user a{
  font-size: 18px;
  font-weight: 700;
}

.commentsBox .header .minfo{
  margin-right: 15px;
}

.commentsBox .content{
  padding: 10px;
}

/* footer */
section.footer{
  margin-top: 15px;
  margin-bottom:20px;
}


/* img */

.content img{
  max-width: 100%;
  /* width: 500px; */
  height: fit-content;
  object-fit: contain;
}