<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Gorilla</title>
    <link rel="icon" href="https://img.icons8.com/ios-filled/100/000000/gorilla.png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/paginator.css">
    <% if (typeof(post) != "undefined") { %>
        <link rel="stylesheet" href="/css/post.css">
    <% } %>
    <% if (typeof(categoria) != "undefined") { %>
        <link rel="stylesheet" href="/css/categoria.css">
    <% } %>
    <% if (typeof(dashboard) != "undefined") { %>
      <link rel="stylesheet" href="/css/dashboard.css">
      <link rel="stylesheet" href="/css/inputs.css">

    <% } %>
   <% if (typeof(login) != "undefined") { %>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/inputs.css">
    <% } %>
    <% if (typeof(home) != "undefined") { %>
        <link rel="stylesheet" href="/css/home.css">
    <% } %>
    <% if (typeof(profile) != "undefined") { %>
        <link rel="stylesheet" href="/css/profile.css">
    <% } %>
    <% if (typeof(crearpost) != "undefined" || typeof(crearcomentario) != "undefined") { %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/crearpost.css">
    <% } %>
</head>
<body>
    <%- include('./../partials/header.ejs') %> 
    <%- body %>
    <script src="/js/global.js"></script>
    
</body>
</html>